node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store

# Local Netlify folder
.netlify
*.pem*

# Cloudflare Wrangler
.wrangler

# Jetbrains Settings
.idea/*
!.idea/
!.idea/codeStyles/
!.idea/fileTemplates/
!.idea/file.template.settings.xml
!.idea/prettier.xml
!.idea/jsLinters
!.idea/modules.xml
!.idea/project-module.iml
/.unlighthouse/


components.*.json*