@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

/*
html {
scroll-behavior: smooth;
font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';

font-family: Opensans, "Helvetica Neue", Helvetica, Arial, sans-serif;

}
*/
@font-face {
  font-family: 'Open Sans Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 105%;
  descent-override: 35%;
  line-gap-override: 10%;
  size-adjust: 107%;
}

@font-face {
  font-family: 'Open Sans Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial');
  ascent-override: 105%;
  descent-override: 35%;
  line-gap-override: 10%;
  size-adjust: 107%;
}
html {
  scroll-behavior: smooth;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

}

.m-phone-input,
.m-phone-input .m-input-wrapper {
  width: 100% !important;
}
.m-input-input, .m-input-wrapper-left {
  background-color: #e0e9f0 !important;
}

