@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

html {
  scroll-behavior: smooth;
  font-family: Open Sans,Arial,Helvetica,sans-serif;
}
.m-phone-input,
.m-phone-input .m-input-wrapper {
  width: 100% !important;
}
