@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";
/*
html {
scroll-behavior: smooth;
font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';

font-family: Opensans, "Helvetica Neue", Helvetica, Arial, sans-serif;

}
*/

html {
  scroll-behavior: smooth;
  font-family:"Open Sans", Arial, Helvetica, sans-serif
}

.m-phone-input,
.m-phone-input .m-input-wrapper {
  width: 100% !important;
}
.m-input-input, .m-input-wrapper-left {
  background-color: #e0e9f0 !important;
}

#heroH1, .font-black {
  font-weight: 700;
  -webkit-text-stroke: 0.9px currentColor;
}